{% extends "blog/base.html" %} {% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Blog</h1>
  <a href="{% url 'post-create' %}" class="btn btn-primary">Create New Post</a>
</div>

{% for post in posts %}
<div>
  <h2>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
  </h2>
  <p>{{ post.created_at|date:"Y-m-d" }}</p>
</div>
{% endfor %} {% if is_paginated %}
<div>
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endif %} {% endblock %}
